{% load static %}
{% load humanize %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>案件管理システム</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% endcomment %}


    </head>
    <div class="card bg-light mb-3" style="max-width: 950pt;">

        <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>データインポート</h3>
        </div>
    </div>
</div>

        
        <p>①インポートするファイルの種類を選択して下さい</p>
        
        <form  action = "/ankenkanri2/import2" method="POST">
            {% csrf_token %}
            &emsp;<input norap type="radio" name="tableName" value="案件管理データ" checked>案件管理データ&emsp;&emsp;
            <input norap type="radio" name="tableName" value="案件ステータスデータ">案件ステータスデータ&emsp;&emsp;
            <input norap type="radio" name="tableName" value="支払パターンデータ">支払パターンデータ&emsp;&emsp;
            <input norap type="radio" name="tableName" value="取引先データ">取引先データ&emsp;&emsp;
            <input norap type="radio" name="tableName" value="担当者データ">担当者データ&emsp;&emsp;
            <input norap type="radio" name="tableName" value="勘定科目データ">勘定科目データ&emsp;&emsp;<br><br><br>
            <p>②下の【ファイルを選択】ボタンで、デスクトップ直下のインポート元ファイルを選択してください</p>
                
            &emsp;<input id="myfile" name="inputFile" type="file" accept=".xlsx" required required enctype="multipart/form-data">
        <button type="submit" href="import2" name = "hozon_button" class="btn btn-primary" style="width:70pt;height:30pt;margin: 5px 5px;">取込む</button><br><br>
        <input type = "hidden" id = "kazu" name="kazu" value= {{kazu}}>
    </form>

        <body>
            {% include 'ankenkanri2/kyotsu.html' %}

</body>


</html>