{% load static %}
{% load humanize %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>案件管理システム</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% endcomment %}
    </head>
    <div class="card bg-light mb-3" style="max-width: 950pt; margin-left: 10px; margin-top: 10px;">
        <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>案件管理システム &emsp;&emsp;メインメニュー </h3>
        </div></div>
<body> 
  <div class="card-body">
    <h5 class="card-title"></h5>
      <p class="card-text">
        <h6>
        <form action="/ankenkanri/service_start" method="POST">{% csrf_token %}
            {% comment %} <h5 class="card-title">ステータスを<b><font style="color:blue;">案件入力完了</font></b>に設定しました。</h5>
            <p class="card-text">いずれかをクリックしてください。</p> {% endcomment %}

            <div style="margin: 15px 15px; ">
                <nobr>
                <button class="btn btn-primary" type="submit" name="searchButton" style="font-size:20px;width:200pt;height:70pt;margin: 5px 20px 20px 0px;">検索して処理</button>
                <button class="btn btn-primary" type="submit" name="kanriNoButton" style="font-size:20px;width:200pt;height:70pt;margin: 5px 20px 20px 20px;">管理No.入力して<br>処理</button>
                <button class="btn btn-primary" type="submit" name="dataEditButton" style="font-size:20px;width:200pt;height:70pt;margin: 5px 20px 20px 20px;">データ編集<br><small>（登録、編集、削除）</small></button>
                <button class="btn btn-primary" type="submit" name="dataExportButton" style="font-size:20px;width:200pt;height:70pt;margin: 5px 0px 20px 20px;">データエクスポート</button>
                </nobr>
                <nobr>
                <button class="btn btn-primary" type="submit" name="dataImportButton" style="font-size:20px;width:200pt;height:70pt;margin: 20px 20px 1px 0px;">データインポート<br><small>(操作ﾏﾆｭｱﾙに従って操作すること)</small></button>
                <button class="btn btn-primary" type="submit" name="variousSettingsButton" style="font-size:20px;width:200pt;height:70pt;margin: 20px 20px 1px 20px;">各種設定</button>
                <button class="btn btn-primary" type="submit" name="usageButton" style="font-size:20px;width:200pt;height:70pt;margin: 20px 20px 1px 20px;">操作マニュアル</button>
                <button class="btn btn-primary" type="submit" name="terminateButton" style="font-size:20px;width:200pt;height:70pt;margin: 20px 0px 1px 20px;">終了</button>
                </nobr>
            </div></form></h6>
  </div>
    
  {% include 'ankenkanri2/kyotsu.html' %}
  <p align="right">&copy;Copyright ADVANTEC Grp.SYSTEM Div. All right reserved.</p>
    </body>
</html>