{% load humanize %}
<div style="height:290px; width:1250px; margin-left: 10px; overflow:scroll" class="anken-table">
        
    <table >
            <tr>
                <th nowrap style="text-align: center;" >id</th>
                <th nowrap style="text-align: center;" >経理承認</th>
                <th nowrap style="text-align: center;" >ステータスコード</th>
                <th nowrap  style="text-align: center;">案件ステータス</th>
                <th nowrap style="text-align: center;" >枝番グループ</th>
                <th nowrap style="text-align: center;" >支払パターン</th>
                <th nowrap style="text-align: center;" >管理No.</th>
                <th nowrap style="text-align: center;" >枝番</th>
                <th nowrap style="text-align: center;" >案件名</th>
                <th nowrap style="text-align: center;" >取引先コード</th>
                <th nowrap style="text-align: center;" >取引先名</th>
                <th nowrap style="text-align: center;" >勘定科目コード</th>
                <th nowrap style="text-align: center;" >勘定科目</th>
                <th nowrap style="text-align: center;" >計画単価</th>
                <th nowrap style="text-align: center;" >計画数</th>
                <th nowrap style="text-align: center;" >計画合計金額</th>
                <th nowrap style="text-align: center;" >見積単価</th>
                <th nowrap style="text-align: center;" >見積数</th>
                <th nowrap style="text-align: center;" >見積合計金額</th>
                <th nowrap style="text-align: center;" >見積書リンク</th>
                <th nowrap style="text-align: center;" >稟議書単価</th>
                <th nowrap style="text-align: center;" >稟議書数</th>
                <th nowrap style="text-align: center;" >稟議書合計</th>
                <th nowrap style="text-align: center;" >稟議書No.</th>
                <th nowrap style="text-align: center;" >稟議書リンク</th>
                <th nowrap style="text-align: center;" >ワークフローNo.</th>
                <th nowrap style="text-align: center;" >契約金額</th>
                <th nowrap style="text-align: center;" >契約書No.</th>
                <th nowrap style="text-align: center;" >契約書リンク</th>
                <th nowrap style="text-align: center;" >押捺稟議No.</th>
                <th nowrap style="text-align: center;" >押捺稟議リンク</th>
                <th nowrap style="text-align: center;" >注文単価</th>
                <th nowrap style="text-align: center;" >注文数</th>
                <th nowrap style="text-align: center;" >注文合計金額</th>
                <th nowrap style="text-align: center;" >注文書リンク</th>
                <th nowrap style="text-align: center;" >納品日期限</th>
                <th nowrap style="text-align: center;" >支払日期限</th>
                <th nowrap style="text-align: center;" >納品単価</th>
                <th nowrap style="text-align: center;" >納品数</th>
                <th nowrap style="text-align: center;" >納品合計金額</th>
                <th nowrap style="text-align: center;" >納品書リンク</th>
                <th nowrap style="text-align: center;" >支払単価</th>
                <th nowrap style="text-align: center;" >購入数</th>
                <th nowrap style="text-align: center;" >購入合計金額</th>
                <th nowrap style="text-align: center;" >請求書リンク情報</th>
                <th nowrap style="text-align: center;" >計画－実績</th>
                <th nowrap style="text-align: center;" >支払繰返し期限</th>
                <th nowrap style="text-align: center;" >購入会社</th>
                <th nowrap style="text-align: center;" >最終データ更新日</th>
                <th nowrap style="text-align: center;" >最終更新者</th>
                <th nowrap style="text-align: center;" >社員番号</th>
                <th nowrap style="text-align: center;" >担当者名</th>
                <th nowrap style="text-align: center;" >コメント</th>
                <th nowrap style="text-align: center;">表示順</th>


            </tr>

            {% for anken in ankenList %}
        <div >
        <tr >
            <th nowrap id =id{{forloop.counter}} style="text-align: center;">{{anken.id | default:"－" }}</th>
            <td nowrap id =keiriShonin{{forloop.counter}} style="text-align: center;">{{anken.keiriShonin | default:"－" }}</td>
            <td nowrap id =statusCode{{forloop.counter}} style="text-align: center;">{{anken.statusCode | default:"－" }}</td>
            <td nowrap id =status{{forloop.counter}} style="text-align: center;">{{anken.status | default:"－" }}</td>
            <td nowrap id =edabanGroup{{forloop.counter}} style="text-align: center;">{{anken.edabanGroup | default:"－"  | default:"－" }}</td>
            <td nowrap id =shiharaiPattern{{forloop.counter}} style="text-align: center;">{{anken.shiharaiPattern | default:"－" }}</td>
            <td nowrap id =kanriNo{{forloop.counter}} style="text-align: center;">{{anken.kanriNo | default:"－" }}</td>
            <td nowrap id =edaban{{forloop.counter}} style="text-align: center;">{{anken.edaban | default:"－" }}</td>
            <td nowrap id =ankenMei{{forloop.counter}} style="text-align: center;">{{anken.ankenMei | default:"－" }}</td>
            <td nowrap id =torihikisakiCode{{forloop.counter}} style="text-align: center;">{{anken.torihikisakiCode | default:"－" }}</td>
            <td nowrap id =torihikisakiMei{{forloop.counter}} style="text-align: center;">{{anken.torihikisakiMei | default:"－" }}</td>
            <td nowrap id =kanjokamokuCode{{forloop.counter}} style="text-align: center;">{{anken.kanjokamokuCode | default:"－" }}</td>
            <td nowrap id =kanjokamoku{{forloop.counter}} style="text-align: center;">{{anken.kanjokamoku | default:"－" }}</td>
            <td nowrap id =keikakuTanka{{forloop.counter}} style="text-align: right;">{{anken.keikakuTanka |default:"－" | intcomma:False }}</td>
            <td nowrap id =keikakuSuu{{forloop.counter}} style="text-align: right;">{{anken.keikakuSuu |default:"－" | intcomma:False  }}</td>
            <td nowrap id =keikakuGokei{{forloop.counter}} style="text-align: right;">{{anken.keikakuGokei |default:"－" | intcomma:False  }}</td>
            <td nowrap id =mitsumoriTanka{{forloop.counter}} style="text-align: right;">{{anken.mitsumoriTanka|default:"－" | intcomma:False  }}</td>
            <td nowrap id =mitsumoriSuu{{forloop.counter}} style="text-align: right;">{{anken.mitsumoriSuu|default:"－" | intcomma:False  }}</td>
            <td nowrap id =mitsumoriGokei{{forloop.counter}} style="text-align: right;">{{anken.mitsumoriGokei|default:"－" | intcomma:False  }}</td>
            <td nowrap id =mitsumoriLink{{forloop.counter}} style="text-align: center;">{{anken.mitsumoriLink | default:"－" }}</td>
            <td nowrap id =ringiTanka{{forloop.counter}} style="text-align: right;">{{anken.ringiTanka|default:"－" | intcomma:False  }}</td>
            <td nowrap id =ringiSuu{{forloop.counter}} style="text-align: right;">{{anken.ringiSuu|default:"－" | intcomma:False  }}</td>
            <td nowrap id =ringiGokei{{forloop.counter}} style="text-align: right;">{{anken.ringiGokei|default:"－" | intcomma:False  }}</td>
            <td nowrap id =ringishoNo{{forloop.counter}} style="text-align: center;">{{anken.ringishoNo | default:"－" }}</td>
            <td nowrap id =ringishoLink{{forloop.counter}} style="text-align: center;">{{anken.ringishoLink | default:"－" }}</td>
            <td nowrap id =wfNo{{forloop.counter}} style="text-align: center;">{{anken.wfNo | default:"－" }}</td>
            <td nowrap id =keiyakuKingaku{{forloop.counter}} style="text-align: right;">{{anken.keiyakuKingaku|default:"－" | intcomma:False  }}</td>
            <td nowrap id =keiyakushoNo{{forloop.counter}} style="text-align: center;">{{anken.keiyakushoNo | default:"－" }}</td>
            <td nowrap id =keiyakushoLink{{forloop.counter}} style="text-align: center;">{{anken.keiyakushoLink | default:"－" }}</td>
            <td nowrap id =onatsuRingiNo{{forloop.counter}} style="text-align: center;">{{anken.onatsuRingiNo | default:"－" }}</td>
            <td nowrap id =onatsuRingiLink{{forloop.counter}} style="text-align: center;">{{anken.onatsuRingiLink | default:"－" }}</td>
            <td nowrap id =chumonTanka{{forloop.counter}} style="text-align: right;">{{anken.chumonTanka|default:"－" | intcomma:False  }}</td>
            <td nowrap id =chumonSuu{{forloop.counter}} style="text-align: right;">{{anken.chumonSuu|default:"－" | intcomma:False  }}</td>
            <td nowrap id =chumonGokei{{forloop.counter}} style="text-align: right;">{{anken.chumonGokei|default:"－" | intcomma:False  }}</td>
            <td nowrap id =chumonLink{{forloop.counter}} style="text-align: center;">{{anken.chumonLink | default:"－" }}</td>
            <td nowrap id =nohinKigen{{forloop.counter}} style="text-align: center;">{{anken.nohinKigen | default:"－" }}</td>
            <td nowrap id =shiharaiKigen{{forloop.counter}} style="text-align: center;">{{anken.shiharaiKigen | default:"－" }}</td>
            <td nowrap id =nohinTanka{{forloop.counter}} style="text-align: right;">{{anken.nohinTanka|default:"－" | intcomma:False  }}</td>
            <td nowrap id =nohinSuu{{forloop.counter}} style="text-align: right;">{{anken.nohinSuu|default:"－" | intcomma:False  }}</td>
            <td nowrap id =nohinGokei{{forloop.counter}} style="text-align: right;">{{anken.nohinGokei|default:"－" | intcomma:False  }}</td>
            <td nowrap id =nohinLink{{forloop.counter}} style="text-align: center;">{{anken.nohinLink | default:"－" }}</td>
            <td nowrap id =shiharaiTanka{{forloop.counter}} style="text-align: right;">{{anken.shiharaiTanka|default:"－" | intcomma:False  }}</td>
            <td nowrap id =konyuSuu{{forloop.counter}} style="text-align: right;">{{anken.konyuSuu|default:"－" | intcomma:False  }}</td>
            <td nowrap id =konyuGokei{{forloop.counter}} style="text-align: right;">{{anken.konyuGokei|default:"－" | intcomma:False  }}</td>
            <td nowrap id =seikyushoLink{{forloop.counter}} style="text-align: center;">{{anken.seikyushoLink | default:"－" }}</td>
            <td nowrap id =keikaku_Jisseki{{forloop.counter}} style="text-align: right;">{{anken.keikaku_Jisseki|default:"－" | intcomma:False  }}</td>
            <td nowrap id =kurikaeshiKigen{{forloop.counter}} style="text-align: center;">{{anken.kurikaeshiKigen | default:"－" }}</td>
            <td nowrap id =konyuKaisha{{forloop.counter}} style="text-align: center;">{{anken.konyuKaisha | default:"－" }}</td>
            <td nowrap id =dataKoshinbi{{forloop.counter}} style="text-align: center;">{{anken.dataKoshinbi | default:"－" }}</td>
            <td nowrap id =saishuKoshinsha{{forloop.counter}} style="text-align: center;">{{anken.saishuKoshinsha | default:"－" }}</td>
            <td nowrap id =shainNo{{forloop.counter}} style="text-align: center;">{{anken.shainNo | default:"－" }}</td>
            <td nowrap id =tantosha{{forloop.counter}} style="text-align: center;">{{anken.tantosha | default:"－" }}</td>
            <td nowrap id =comment{{forloop.counter}} style="text-align: center;">{{anken.comment | default:"－" }}</td>
            <td nowrap id =hyojijun{{forloop.counter}} style="text-align: center;">{{anken.hyojijun | default:"－" }}</td>
        </tr>
    </div>
        {% endfor %}
    </table>
</div>

<input type = "hidden" id = "kazu" name="kazu" value= {{kazu}}>

<script>
    for (let i=1; i < document.getElementById('kazu').value+1; i++) {
        
        let dateHyoji = document.getElementById('shiharaiKigen'+i).innerHTML;
        dateHyoji = dateHyoji.replace('年','-');
        dateHyoji = dateHyoji.replace('月','-');
        dateHyoji = dateHyoji.replace('日','/');
        dateHyoji = dateHyoji.substring(0, dateHyoji.indexOf("/"));
        
        let dateShiharai = new Date(dateHyoji); 

        dateHyoji = document.getElementById('nohinKigen'+i).innerHTML;
        dateHyoji = dateHyoji.replace('年','-');
        dateHyoji = dateHyoji.replace('月','-');
        dateHyoji = dateHyoji.replace('日','/');
        dateHyoji = dateHyoji.substring(0, dateHyoji.indexOf("/"));
        
        let dateNohin = new Date(dateHyoji); 

        if (document.getElementById('statusCode'+i).innerHTML==10){
            document.getElementById("keiriShonin"+i).style.backgroundColor = 'lightgray';
            document.getElementById("statusCode"+i).style.backgroundColor = 'lightgray';
            document.getElementById("status"+i).style.backgroundColor = 'lightgray';
            document.getElementById("edabanGroup"+i).style.backgroundColor = 'lightgray';
            document.getElementById("shiharaiPattern"+i).style.backgroundColor = 'lightgray';
            document.getElementById("kanriNo"+i).style.backgroundColor = 'lightgray';
            document.getElementById("edaban"+i).style.backgroundColor = 'lightgray';
            document.getElementById("ankenMei"+i).style.backgroundColor = 'lightgray';
            document.getElementById("torihikisakiCode"+i).style.backgroundColor = 'lightgray';
            document.getElementById("torihikisakiMei"+i).style.backgroundColor = 'lightgray';
            document.getElementById("kanjokamokuCode"+i).style.backgroundColor = 'lightgray';
            document.getElementById("kanjokamoku"+i).style.backgroundColor = 'lightgray';
            document.getElementById("keikakuTanka"+i).style.backgroundColor = 'lightgray';
            document.getElementById("keikakuSuu"+i).style.backgroundColor = 'lightgray';
            document.getElementById("keikakuGokei"+i).style.backgroundColor = 'lightgray';
            document.getElementById("mitsumoriTanka"+i).style.backgroundColor = 'lightgray';
            document.getElementById("mitsumoriSuu"+i).style.backgroundColor = 'lightgray';
            document.getElementById("mitsumoriGokei"+i).style.backgroundColor = 'lightgray';
            document.getElementById("mitsumoriLink"+i).style.backgroundColor = 'lightgray';
            document.getElementById("ringiTanka"+i).style.backgroundColor = 'lightgray';
            document.getElementById("ringiSuu"+i).style.backgroundColor = 'lightgray';
            document.getElementById("ringiGokei"+i).style.backgroundColor = 'lightgray';
            document.getElementById("ringishoNo"+i).style.backgroundColor = 'lightgray';
            document.getElementById("ringishoLink"+i).style.backgroundColor = 'lightgray';
            document.getElementById("wfNo"+i).style.backgroundColor = 'lightgray';
            document.getElementById("keiyakuKingaku"+i).style.backgroundColor = 'lightgray';
            document.getElementById("keiyakushoNo"+i).style.backgroundColor = 'lightgray';
            document.getElementById("keiyakushoLink"+i).style.backgroundColor = 'lightgray';
            document.getElementById("onatsuRingiNo"+i).style.backgroundColor = 'lightgray';
            document.getElementById("onatsuRingiLink"+i).style.backgroundColor = 'lightgray';
            document.getElementById("chumonTanka"+i).style.backgroundColor = 'lightgray';
            document.getElementById("chumonSuu"+i).style.backgroundColor = 'lightgray';
            document.getElementById("chumonGokei"+i).style.backgroundColor = 'lightgray';
            document.getElementById("chumonLink"+i).style.backgroundColor = 'lightgray';
            document.getElementById("nohinKigen"+i).style.backgroundColor = 'lightgray';
            document.getElementById("shiharaiKigen"+i).style.backgroundColor = 'lightgray';
            document.getElementById("nohinTanka"+i).style.backgroundColor = 'lightgray';
            document.getElementById("nohinSuu"+i).style.backgroundColor = 'lightgray';
            document.getElementById("nohinGokei"+i).style.backgroundColor = 'lightgray';
            document.getElementById("nohinLink"+i).style.backgroundColor = 'lightgray';
            document.getElementById("shiharaiTanka"+i).style.backgroundColor = 'lightgray';
            document.getElementById("konyuSuu"+i).style.backgroundColor = 'lightgray';
            document.getElementById("konyuGokei"+i).style.backgroundColor = 'lightgray';
            document.getElementById("seikyushoLink"+i).style.backgroundColor = 'lightgray';
            document.getElementById("keikaku_Jisseki"+i).style.backgroundColor = 'lightgray';
            document.getElementById("kurikaeshiKigen"+i).style.backgroundColor = 'lightgray'; 
            document.getElementById("konyuKaisha"+i).style.backgroundColor = 'lightgray';
            document.getElementById("dataKoshinbi"+i).style.backgroundColor = 'lightgray';
            document.getElementById("saishuKoshinsha"+i).style.backgroundColor = 'lightgray';
            document.getElementById("shainNo"+i).style.backgroundColor = 'lightgray';
            document.getElementById("tantosha"+i).style.backgroundColor = 'lightgray';
            document.getElementById("comment"+i).style.backgroundColor = 'lightgray';
            document.getElementById("hyojijun"+i).style.backgroundColor = 'lightgray'; 
            
            
        }
        
        else if (document.getElementById('statusCode'+i).innerHTML==20){
            document.getElementById("keiriShonin"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("statusCode"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("status"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("edabanGroup"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("shiharaiPattern"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("kanriNo"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("edaban"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("ankenMei"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("torihikisakiCode"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("torihikisakiMei"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("kanjokamokuCode"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("kanjokamoku"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("keikakuTanka"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("keikakuSuu"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("keikakuGokei"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("mitsumoriTanka"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("mitsumoriSuu"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("mitsumoriGokei"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("mitsumoriLink"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("ringiTanka"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("ringiSuu"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("ringiGokei"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("ringishoNo"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("ringishoLink"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("wfNo"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("keiyakuKingaku"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("keiyakushoNo"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("keiyakushoLink"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("onatsuRingiNo"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("onatsuRingiLink"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("chumonTanka"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("chumonSuu"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("chumonGokei"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("chumonLink"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("nohinKigen"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("shiharaiKigen"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("nohinTanka"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("nohinSuu"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("nohinGokei"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("nohinLink"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("shiharaiTanka"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("konyuSuu"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("konyuGokei"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("seikyushoLink"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("keikaku_Jisseki"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("kurikaeshiKigen"+i).style.backgroundColor = '#b0c4de'; 
            document.getElementById("konyuKaisha"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("dataKoshinbi"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("saishuKoshinsha"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("shainNo"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("tantosha"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("comment"+i).style.backgroundColor = '#b0c4de';
            document.getElementById("hyojijun"+i).style.backgroundColor = '#b0c4de'; 
            
            
        }
        else if (dateNohin<=new Date(Date.now()) && document.getElementById('statusCode'+i).innerHTML<8){
            document.getElementById("keiriShonin"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("statusCode"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("status"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("edabanGroup"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("shiharaiPattern"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("kanriNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("edaban"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ankenMei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("torihikisakiCode"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("torihikisakiMei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("kanjokamokuCode"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("kanjokamoku"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keikakuTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keikakuSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keikakuGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("mitsumoriTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("mitsumoriSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("mitsumoriGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("mitsumoriLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ringiTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ringiSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ringiGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ringishoNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ringishoLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("wfNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keiyakuKingaku"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keiyakushoNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keiyakushoLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("onatsuRingiNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("onatsuRingiLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("chumonTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("chumonSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("chumonGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("chumonLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("nohinKigen"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("nohinKigen"+i).style.color = 'red';
            document.getElementById("nohinKigen"+i).style.fontWeight  = 'bolder';
            document.getElementById("shiharaiKigen"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("nohinTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("nohinSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("nohinGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("nohinLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("shiharaiTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("konyuSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("konyuGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("seikyushoLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keikaku_Jisseki"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("kurikaeshiKigen"+i).style.backgroundColor = '#ffa07a'; 
            document.getElementById("konyuKaisha"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("dataKoshinbi"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("saishuKoshinsha"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("shainNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("tantosha"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("comment"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("hyojijun"+i).style.backgroundColor = '#ffa07a'; 
            
            
        }                

   

        else if (dateShiharai<=new Date(Date.now())){
            document.getElementById("keiriShonin"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("statusCode"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("status"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("edabanGroup"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("shiharaiPattern"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("kanriNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("edaban"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ankenMei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("torihikisakiCode"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("torihikisakiMei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("kanjokamokuCode"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("kanjokamoku"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keikakuTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keikakuSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keikakuGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("mitsumoriTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("mitsumoriSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("mitsumoriGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("mitsumoriLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ringiTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ringiSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ringiGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ringishoNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("ringishoLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("wfNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keiyakuKingaku"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keiyakushoNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keiyakushoLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("onatsuRingiNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("onatsuRingiLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("chumonTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("chumonSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("chumonGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("chumonLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("nohinKigen"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("shiharaiKigen"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("shiharaiKigen"+i).style.color = 'red';
            document.getElementById("shiharaiKigen"+i).style.fontWeight  = 'bolder';
            document.getElementById("nohinTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("nohinSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("nohinGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("nohinLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("shiharaiTanka"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("konyuSuu"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("konyuGokei"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("seikyushoLink"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("keikaku_Jisseki"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("kurikaeshiKigen"+i).style.backgroundColor = '#ffa07a'; 
            document.getElementById("konyuKaisha"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("dataKoshinbi"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("saishuKoshinsha"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("shainNo"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("tantosha"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("comment"+i).style.backgroundColor = '#ffa07a';
            document.getElementById("hyojijun"+i).style.backgroundColor = '#ffa07a'; 
            
            
        }

        else if (document.getElementById("statusCode"+i).innerHTML != 99 ||document.getElementById("edaban"+i).innerHTML != 0){
            document.getElementById("keiriShonin"+i).style.backgroundColor = 'aqua';
            document.getElementById("statusCode"+i).style.backgroundColor = 'aqua';
            document.getElementById("status"+i).style.backgroundColor = 'aqua';
            document.getElementById("edabanGroup"+i).style.backgroundColor = 'aqua';
            document.getElementById("shiharaiPattern"+i).style.backgroundColor = 'aqua';
            document.getElementById("kanriNo"+i).style.backgroundColor = 'aqua';
            document.getElementById("edaban"+i).style.backgroundColor = 'aqua';
            document.getElementById("ankenMei"+i).style.backgroundColor = 'aqua';
            document.getElementById("torihikisakiCode"+i).style.backgroundColor = 'aqua';
            document.getElementById("torihikisakiMei"+i).style.backgroundColor = 'aqua';
            document.getElementById("kanjokamokuCode"+i).style.backgroundColor = 'aqua';
            document.getElementById("kanjokamoku"+i).style.backgroundColor = 'aqua';
            document.getElementById("keikakuTanka"+i).style.backgroundColor = 'aqua';
            document.getElementById("keikakuSuu"+i).style.backgroundColor = 'aqua';
            document.getElementById("keikakuGokei"+i).style.backgroundColor = 'aqua';
            document.getElementById("mitsumoriTanka"+i).style.backgroundColor = 'aqua';
            document.getElementById("mitsumoriSuu"+i).style.backgroundColor = 'aqua';
            document.getElementById("mitsumoriGokei"+i).style.backgroundColor = 'aqua';
            document.getElementById("mitsumoriLink"+i).style.backgroundColor = 'aqua';
            document.getElementById("ringiTanka"+i).style.backgroundColor = 'aqua';
            document.getElementById("ringiSuu"+i).style.backgroundColor = 'aqua';
            document.getElementById("ringiGokei"+i).style.backgroundColor = 'aqua';
            document.getElementById("ringishoNo"+i).style.backgroundColor = 'aqua';
            document.getElementById("ringishoLink"+i).style.backgroundColor = 'aqua';
            document.getElementById("wfNo"+i).style.backgroundColor = 'aqua';
            document.getElementById("keiyakuKingaku"+i).style.backgroundColor = 'aqua';
            document.getElementById("keiyakushoNo"+i).style.backgroundColor = 'aqua';
            document.getElementById("keiyakushoLink"+i).style.backgroundColor = 'aqua';
            document.getElementById("onatsuRingiNo"+i).style.backgroundColor = 'aqua';
            document.getElementById("onatsuRingiLink"+i).style.backgroundColor = 'aqua';
            document.getElementById("chumonTanka"+i).style.backgroundColor = 'aqua';
            document.getElementById("chumonSuu"+i).style.backgroundColor = 'aqua';
            document.getElementById("chumonGokei"+i).style.backgroundColor = 'aqua';
            document.getElementById("chumonLink"+i).style.backgroundColor = 'aqua';
            document.getElementById("nohinKigen"+i).style.backgroundColor = 'aqua';
            document.getElementById("shiharaiKigen"+i).style.backgroundColor = 'aqua';
            document.getElementById("nohinTanka"+i).style.backgroundColor = 'aqua';
            document.getElementById("nohinSuu"+i).style.backgroundColor = 'aqua';
            document.getElementById("nohinGokei"+i).style.backgroundColor = 'aqua';
            document.getElementById("nohinLink"+i).style.backgroundColor = 'aqua';
            document.getElementById("shiharaiTanka"+i).style.backgroundColor = 'aqua';
            document.getElementById("konyuSuu"+i).style.backgroundColor = 'aqua';
            document.getElementById("konyuGokei"+i).style.backgroundColor = 'aqua';
            document.getElementById("seikyushoLink"+i).style.backgroundColor = 'aqua';
            document.getElementById("keikaku_Jisseki"+i).style.backgroundColor = 'aqua';
            document.getElementById("kurikaeshiKigen"+i).style.backgroundColor = 'aqua'; 
            document.getElementById("konyuKaisha"+i).style.backgroundColor = 'aqua';
            document.getElementById("dataKoshinbi"+i).style.backgroundColor = 'aqua';
            document.getElementById("saishuKoshinsha"+i).style.backgroundColor = 'aqua';
            document.getElementById("shainNo"+i).style.backgroundColor = 'aqua';
            document.getElementById("tantosha"+i).style.backgroundColor = 'aqua';
            document.getElementById("comment"+i).style.backgroundColor = 'aqua';
            document.getElementById("hyojijun"+i).style.backgroundColor = 'aqua'; 
        }
    }
</script> 

</div>