{% extends 'base.html' %}

{% block title%}操作マニュアル{% endblock %}

{% block content %}

<div class="card" style="width:600pt;height:200pt;margin: 5px 5px;">
  <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>操作マニュアル</h3></div></div>
  <div class="card-body">
  <form action="/ankenkanri/variousSettings/" method="POST">{% csrf_token %}
    <h5 class="card-title">操作マニュアルを表示します。</h5>
    <p class="card-text"></p>
    <nobr>
    {% comment %} <div style="text-align: center;"><button class="btn btn-primary" type="submit" name="changeSettings" style="width:120pt;height:35pt;margin: 5px 5px;"> 操作マニュアル</button>&nbsp;&nbsp;  {% endcomment %}
    <a href="https://advantec-group.ent.box.com/file/967357036882" target="_blank" rel="noopener noreferrer" class="btn btn-primary" role="button" style="width:120pt;height:35pt;margin: 5px 5px;">操作マニュアル</a>
    <button class="btn btn-primary" type="submit" name="pageTop" style="width:120pt;height:35pt;margin: 5px 5px;"> TOPへ戻る</button>
    </div></nobr></form>
  </div>
</div>

{% endblock content %}