{% extends 'base.html' %}
{% load static %}

{% block title%}検索結果{% endblock %}

{% block content %}


{% comment %} <h3>ここに検索結果を表示する</h3> {% endcomment %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

    </head>
    <div class="card bg-light mb-3" style="max-width: 600pt;">

        <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>案件管理システム &emsp;&emsp;メインメニュー </h3>
        </div>
    </div>
</div>

        {% comment %} <h2><font color="blue">案件管理システム &emsp;&emsp;メインメニュー </font></h2> {% endcomment %}
    
   
    {% comment %} <form action="{% url 'first_app.views.aaaa' %}" method="post"> {% endcomment %}
        {% comment %} {% csrf_token %} {% endcomment %}
    {% comment %}  <div class="d-grid gap-2 d-md-block justify-content-center">
        <input type="submit" name="button_1" class="btn btn-info w-auto" style="width: 90%;height : 60px; padding: 10px;margin: 10px;" value="検索して処理<br>&emsp;　"> 
        <input type="submit" name="button_2" class="btn btn-info w-auto" style="width: 90%;height : 60px; padding: 10px;margin: 10px;" value="管理No.入力して処理<br>&emsp;　"> 
        <input type="submit" name="button_3" class="btn btn-info w-auto" style="width: 90%;height : 60px; padding: 10px;margin: 10px;" value="データインポート<br>&emsp;　"> 
        <input type="submit" name="button_4" class="btn btn-info w-auto" style="width: 90%;height : 60px; padding: 10px;margin: 10px;" value="データエクスポート<br>&emsp;　">  {% endcomment %}
        
<div style="margin: 5px 5px;">
        {% comment %} <div class="d-grid gap-2 d-md-block justify-content-center"> {% endcomment %}
        <a  class="btn btn-primary" href="index" type="submit" style="width:140pt;height:35pt;margin: 5px 5px;">検索して処理<br>&emsp;　</a>
        <a  class="btn btn-primary" href="index" type="submit" style="width:140pt;height:35pt;margin: 5px 5px;">管理No.入力して処理<br>&emsp;　</a>
        <a  class="btn btn-primary" href="import" type="submit" style="width:140pt;height:35pt;margin: 5px 5px;">データインポート<br>&emsp;　</a>
        <a  class="btn btn-primary" href="export" type="submit" style="width:140pt;height:35pt;margin: 5px 5px;">データエクスポート<br>&emsp;　</a> <br>
        {% comment %} <a class="btn btn-info w-auto" href="home" style="width:250pt;height:35pt;margin: 2px 2px;">データ編集<br>（登録、編集、削除）</a> {% endcomment %}
        <a  class="btn btn-primary" href="index" type="submit" style="width:140pt;height:45pt;margin: 5px 5px;">データ編集<br>（登録、編集、削除）</span></a>
        <a  class="btn btn-primary" href="index" type="submit" style="width:140pt;height:35pt;margin: 5px 5px;">使い方</a><br><br>
</div>
        

    
    <body>
        <div style="height:290px; width:1250px; margin-left: 10px; overflow:scroll" class="anken-table">
        
            <table >
                    <tr>
                        <th nowrat style="text-align: center;" >id</th>
                        <th nowrat style="text-align: center;" >経理承認</th>
                        <th nowrat style="text-align: center;" >ステータスコード</th>
                        <th nowrat  style="text-align: center;">案件ステータス</th>
                        <th nowrat style="text-align: center;" >枝番グループ</th>
                        <th nowrat style="text-align: center;" >支払パターン</th>
                        <th nowrat style="text-align: center;" >管理No.</th>
                        <th nowrat style="text-align: center;" >枝番</th>
                        <th nowrat style="text-align: center;" >案件名</th>
                        <th nowrat style="text-align: center;" >取引先コード</th>
                        <th nowrat style="text-align: center;" >取引先名</th>
                        <th nowrat style="text-align: center;" >勘定科目コード</th>
                        <th nowrat style="text-align: center;" >勘定科目</th>
                        <th nowrat style="text-align: center;" >計画単価</th>
                        <th nowrat style="text-align: center;" >計画数</th>
                        <th nowrat style="text-align: center;" >計画合計金額</th>
                        <th nowrat style="text-align: center;" >見積単価</th>
                        <th nowrat style="text-align: center;" >見積数</th>
                        <th nowrat style="text-align: center;" >見積合計金額</th>
                        <th nowrat style="text-align: center;" >見積書リンク</th>
                        <th nowrat style="text-align: center;" >稟議書単価</th>
                        <th nowrat style="text-align: center;" >稟議書数</th>
                        <th nowrat style="text-align: center;" >稟議書合計</th>
                        <th nowrat style="text-align: center;" >稟議書No.</th>
                        <th nowrat style="text-align: center;" >稟議書リンク</th>
                        <th nowrat style="text-align: center;" >ワークフローNo.</th>
                        <th nowrat style="text-align: center;" >契約金額</th>
                        <th nowrat style="text-align: center;" >契約書No.</th>
                        <th nowrat style="text-align: center;" >契約書リンク</th>
                        <th nowrat style="text-align: center;" >押捺稟議No.</th>
                        <th nowrat style="text-align: center;" >押捺稟議リンク</th>
                        <th nowrat style="text-align: center;" >注文単価</th>
                        <th nowrat style="text-align: center;" >注文数</th>
                        <th nowrat style="text-align: center;" >注文合計金額</th>
                        <th nowrat style="text-align: center;" >注文書リンク</th>
                        <th nowrat style="text-align: center;" >納品日期限</th>
                        <th nowrat style="text-align: center;" >支払日期限</th>
                        <th nowrat style="text-align: center;" >納品単価</th>
                        <th nowrat style="text-align: center;" >納品数</th>
                        <th nowrat style="text-align: center;" >納品合計金額</th>
                        <th nowrat style="text-align: center;" >納品書リンク</th>
                        <th nowrat style="text-align: center;" >支払単価</th>
                        <th nowrat style="text-align: center;" >購入数</th>
                        <th nowrat style="text-align: center;" >購入合計金額</th>
                        <th nowrat style="text-align: center;" >請求書リンク情報</th>
                        <th nowrat style="text-align: center;" >計画－実績</th>
                        <th nowrat style="text-align: center;" >支払繰返し期限</th>
                        <th nowrat style="text-align: center;" >購入会社</th>
                        <th nowrat style="text-align: center;" >最終データ更新日</th>
                        <th nowrat style="text-align: center;" >最終更新者</th>
                        <th nowrat style="text-align: center;" >社員番号</th>
                        <th nowrat style="text-align: center;" >担当者名</th>
                        <th nowrat style="text-align: center;" >コメント</th>
                        <th nowrat style="text-align: center;">表示順</th>


                    </tr>

                    {% for anken in ankenList %}
                <div >
                <tr >
                    <th nowrat id =id{{anken.hyojijun}} style="text-align: center;">{{anken.id | default:"－" }}</th>
                    <td nowrat id =keiriShonin{{anken.hyojijun}} style="text-align: center;">{{anken.keiriShonin | default:"－" }}</td>
                    <td nowrat id =statusCode{{anken.hyojijun}} style="text-align: center;">{{anken.statusCode | default:"－" }}</td>
                    <td nowrat id =status{{anken.hyojijun}} style="text-align: center;">{{anken.status | default:"－" }}</td>
                    <td nowrat id =edabanGroup{{anken.hyojijun}} style="text-align: center;">{{anken.edabanGroup | default:"－" }}</td>
                    <td nowrat id =shiharaiPattern{{anken.hyojijun}} style="text-align: center;">{{anken.shiharaiPattern | default:"－" }}</td>
                    <td nowrat id =kanriNo{{anken.hyojijun}} style="text-align: center;">{{anken.kanriNo | default:"－" }}</td>
                    <td nowrat id =edaban{{anken.hyojijun}} style="text-align: center;">{{anken.edaban | default:"－" }}</td>
                    <td nowrat id =ankenMei{{anken.hyojijun}} style="text-align: center;">{{anken.ankenMei | default:"－" }}</td>
                    <td nowrat id =torihikisakiCode{{anken.hyojijun}} style="text-align: center;">{{anken.torihikisakiCode | default:"－" }}</td>
                    <td nowrat id =torihikisakiMei{{anken.hyojijun}} style="text-align: center;">{{anken.torihikisakiMei | default:"－" }}</td>
                    <td nowrat id =kanjokamokuCode{{anken.hyojijun}} style="text-align: center;">{{anken.kanjokamokuCode | default:"－" }}</td>
                    <td nowrat id =kanjokamoku{{anken.hyojijun}} style="text-align: center;">{{anken.kanjokamoku | default:"－" }}</td>
                    <td nowrat id =keikakuTanka{{anken.hyojijun}} style="text-align: right;">{{anken.keikakuTanka |default:"－" | intcomma:False }}</td>
                    <td nowrat id =keikakuSuu{{anken.hyojijun}} style="text-align: right;">{{anken.keikakuSuu |default:"－" | intcomma:False  }}</td>
                    <td nowrat id =keikakuGokei{{anken.hyojijun}} style="text-align: right;">{{anken.keikakuGokei |default:"－" | intcomma:False  }}</td>
                    <td nowrat id =mitsumoriTanka{{anken.hyojijun}} style="text-align: right;">{{anken.mitsumoriTanka|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =mitsumoriSuu{{anken.hyojijun}} style="text-align: right;">{{anken.mitsumoriSuu|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =mitsumoriGokei{{anken.hyojijun}} style="text-align: right;">{{anken.mitsumoriGokei|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =mitsumoriLink{{anken.hyojijun}} style="text-align: center;">{{anken.mitsumoriLink | default:"－" }}</td>
                    <td nowrat id =ringiTanka{{anken.hyojijun}} style="text-align: right;">{{anken.ringiTanka|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =ringiSuu{{anken.hyojijun}} style="text-align: right;">{{anken.ringiSuu|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =ringiGokei{{anken.hyojijun}} style="text-align: right;">{{anken.ringiGokei|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =ringishoNo{{anken.hyojijun}} style="text-align: center;">{{anken.ringishoNo | default:"－" }}</td>
                    <td nowrat id =ringishoLink{{anken.hyojijun}} style="text-align: center;">{{anken.ringishoLink | default:"－" }}</td>
                    <td nowrat id =wfNo{{anken.hyojijun}} style="text-align: center;">{{anken.wfNo | default:"－" }}</td>
                    <td nowrat id =keiyakuKingaku{{anken.hyojijun}} style="text-align: right;">{{anken.keiyakuKingaku|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =keiyakushoNo{{anken.hyojijun}} style="text-align: center;">{{anken.keiyakushoNo | default:"－" }}</td>
                    <td nowrat id =keiyakushoLink{{anken.hyojijun}} style="text-align: center;">{{anken.keiyakushoLink | default:"－" }}</td>
                    <td nowrat id =onatsuRingiNo{{anken.hyojijun}} style="text-align: center;">{{anken.onatsuRingiNo | default:"－" }}</td>
                    <td nowrat id =onatsuRingiLink{{anken.hyojijun}} style="text-align: center;">{{anken.onatsuRingiLink | default:"－" }}</td>
                    <td nowrat id =chumonTanka{{anken.hyojijun}} style="text-align: right;">{{anken.chumonTanka|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =chumonSuu{{anken.hyojijun}} style="text-align: right;">{{anken.chumonSuu|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =chumonGokei{{anken.hyojijun}} style="text-align: right;">{{anken.chumonGokei|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =chumonLink{{anken.hyojijun}} style="text-align: center;">{{anken.chumonLink | default:"－" }}</td>
                    <td nowrat id =nohinKigen{{anken.hyojijun}} style="text-align: center;">{{anken.nohinKigen | default:"－" }}</td>
                    <td nowrat id =shiharaiKigen{{anken.hyojijun}} style="text-align: center;">{{anken.shiharaiKigen | default:"－" }}</td>
                    <td nowrat id =nohinTanka{{anken.hyojijun}} style="text-align: right;">{{anken.nohinTanka|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =nohinSuu{{anken.hyojijun}} style="text-align: right;">{{anken.nohinSuu|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =nohinGokei{{anken.hyojijun}} style="text-align: right;">{{anken.nohinGokei|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =nohinLink{{anken.hyojijun}} style="text-align: center;">{{anken.nohinLink | default:"－" }}</td>
                    <td nowrat id =shiharaiTanka{{anken.hyojijun}} style="text-align: right;">{{anken.shiharaiTanka|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =konyuSuu{{anken.hyojijun}} style="text-align: right;">{{anken.konyuSuu|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =konyuGokei{{anken.hyojijun}} style="text-align: right;">{{anken.konyuGokei|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =seikyushoLink{{anken.hyojijun}} style="text-align: center;">{{anken.seikyushoLink | default:"－" }}</td>
                    <td nowrat id =keikaku_Jisseki{{anken.hyojijun}} style="text-align: right;">{{anken.keikaku_Jisseki|default:"－" | intcomma:False  }}</td>
                    <td nowrat id =kurikaeshiKigen{{anken.hyojijun}} style="text-align: center;">{{anken.kurikaeshiKigen | default:"－" }}</td>
                    <td nowrat id =konyuKaisha{{anken.hyojijun}} style="text-align: center;">{{anken.konyuKaisha | default:"－" }}</td>
                    <td nowrat id =dataKoshinbi{{anken.hyojijun}} style="text-align: center;">{{anken.dataKoshinbi | default:"－" }}</td>
                    <td nowrat id =saishuKoshinsha{{anken.hyojijun}} style="text-align: center;">{{anken.saishuKoshinsha | default:"－" }}</td>
                    <td nowrat id =shainNo{{anken.hyojijun}} style="text-align: center;">{{anken.shainNo | default:"－" }}</td>
                    <td nowrat id =tantosha{{anken.hyojijun}} style="text-align: center;">{{anken.tantosha | default:"－" }}</td>
                    <td nowrat id =comment{{anken.hyojijun}} style="text-align: center;">{{anken.comment | default:"－" }}</td>
                    <td nowrat id =hyojijun{{anken.hyojijun}} style="text-align: center;">{{anken.hyojijun | default:"－" }}</td>
                </tr>
            </div>
                {% endfor %}
            </table>
        </div>
</body>


{% endblock content %}