{% extends 'base.html' %}
{% load static %}

{% block title%}検索結果{% endblock %}

{% block content %}


{% comment %} <h3>ここに検索結果を表示する</h3> {% endcomment %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

    </head>
    <div class="card bg-light mb-3" style="max-width: 600pt;">

        <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>案件管理システム &emsp;&emsp;メインメニュー </h3>
        </div>
    </div>
</div>

        {% comment %} <h2><font color="blue">案件管理システム &emsp;&emsp;メインメニュー </font></h2> {% endcomment %}
    
   
    {% comment %} <form action="{% url 'first_app.views.aaaa' %}" method="post"> {% endcomment %}
        {% comment %} {% csrf_token %} {% endcomment %}
    {% comment %}  <div class="d-grid gap-2 d-md-block justify-content-center">
        <input type="submit" name="button_1" class="btn btn-info w-auto" style="width: 90%;height : 60px; padding: 10px;margin: 10px;" value="検索して処理<br>&emsp;　"> 
        <input type="submit" name="button_2" class="btn btn-info w-auto" style="width: 90%;height : 60px; padding: 10px;margin: 10px;" value="管理No.入力して処理<br>&emsp;　"> 
        <input type="submit" name="button_3" class="btn btn-info w-auto" style="width: 90%;height : 60px; padding: 10px;margin: 10px;" value="データインポート<br>&emsp;　"> 
        <input type="submit" name="button_4" class="btn btn-info w-auto" style="width: 90%;height : 60px; padding: 10px;margin: 10px;" value="データエクスポート<br>&emsp;　">  {% endcomment %}
        
<div style="margin: 5px 5px;">
        {% comment %} <div class="d-grid gap-2 d-md-block justify-content-center"> {% endcomment %}
        <a  class="btn btn-primary" href="index" type="submit" style="width:140pt;height:35pt;margin: 5px 5px;">検索して処理<br>&emsp;　</a>
        <a  class="btn btn-primary" href="index" type="submit" style="width:140pt;height:35pt;margin: 5px 5px;">管理No.入力して処理<br>&emsp;　</a>
        <a  class="btn btn-primary" href="import" type="submit" style="width:140pt;height:35pt;margin: 5px 5px;">データインポート<br>&emsp;　</a>
        <a  class="btn btn-primary" href="export" type="submit" style="width:140pt;height:35pt;margin: 5px 5px;">データエクスポート<br>&emsp;　</a> <br>
        {% comment %} <a class="btn btn-info w-auto" href="home" style="width:250pt;height:35pt;margin: 2px 2px;">データ編集<br>（登録、編集、削除）</a> {% endcomment %}
        <a  class="btn btn-primary" href="index" type="submit" style="width:140pt;height:45pt;margin: 5px 5px;">データ編集<br>（登録、編集、削除）</span></a>
        <a  class="btn btn-primary" href="index" type="submit" style="width:140pt;height:35pt;margin: 5px 5px;">使い方</a><br><br>
</div>
        

    
    <body>
        <div style="height:300px; width:1280px; overflow:scroll" class="anken-table">
            <table>
                    <tr>
                        <th nowrap >id</th>
                        <th nowrap >経理承認</th>
                        <th nowrap >ステータスコード</th>
                        <th nowrap class="noRap">案件ステータス</th>
                        <th nowrap >枝番グループ</th>
                        <th nowrap >支払パターン</th>
                        <th nowrap class="noRap">管理No.</th>
                        <th nowrap >枝番</th>
                        <th nowrap class="noRap">案件名</th>
                        <th nowrap >取引先コード</th>
                        <th nowrap class="noRap">取引先名</th>
                        <th nowrap >勘定科目</th>
                        <th nowrap >計画単価A</th>
                        <th nowrap >計画数B</th>
                        <th nowrap >計画合計金額<br>税込C=A×B</th>
                        <th nowrap >見積単価D</th>
                        <th nowrap >見積数E</th>
                        <th nowrap >見積合計金額<br>税込F=D×E</th>
                        <th nowrap >見積書リンク</th>
                        <th nowrap >wfNo</th>
                        <th nowrap >契約金額</th>
                        <th nowrap >注文単価G</th>
                        <th nowrap >注文数H</th>
                        <th nowrap >注文合計金額<br>税込I=G×H</th>
                        <th nowrap >注文書リンク</th>
                        <th nowrap >納品単価J</th>
                        <th nowrap >納品数K</th>
                        <th nowrap >納品合計金額<br>税込L=J×K</th>
                        <th nowrap >支払単価M</th>
                        <th nowrap >購入数N</th>
                        <th nowrap >購入合計金額<br>税込O=M×N</th>
                        <th nowrap >請求書リンク</th>
                        <th nowrap >計画－実績<br>G=C-O</th>
                        <th nowrap >納品日期限</th>
                        <th nowrap >検収日期限</th>
                        <th nowrap >支払日期限</th>
                        <th nowrap >支払繰返し期限</th>
                        <th nowrap >関連稟議書</th>
                        <th nowrap >契約書</th>
                        <th nowrap >購入会社</th>
                        <th nowrap >最終データ更新日</th>
                        <th nowrap >最終更新者</th>
                        <th nowrap >社員番号</th>
                        <th nowrap >担当者名</th>
                        <th nowrap >コメント</th>
                    </tr>

                {% for anken in q %}
                <tr>
                <th nowrap>{{anken.id}}</th>
                <td nowrap>{{anken.keiriShonin}}</td>
                <td nowrap>{{anken.statusCode}}</td>
                <td nowrap>{{anken.status}}</td>
                <td nowrap>{{anken.edabanGroup}}</td>
                <td nowrap>{{anken.shiharaiPattern}}</td>
                <td nowrap>{{anken.kanriNo}}</td>
                <td nowrap>{{anken.edaban}}</td>
                <td nowrap>{{anken.ankenMei}}</td>
                <td nowrap>{{anken.torihikisakiCode}}</td>
                <td nowrap>{{anken.torihikisakiMei}}</td>
                <td nowrap>{{anken.kanjokamoku}}</td>
                <td nowrap>{{anken.keikakuTanka}}</td>
                <td nowrap>{{anken.keikakuSuu}}</td>
                <td nowrap>{{anken.keikakuGokei}}</td>
                <td nowrap>{{anken.mitsumoriTanka}}</td>
                <td nowrap>{{anken.mitsumoriSuu}}</td>
                <td nowrap>{{anken.mitsumoriGokei}}</td>
                <td >{{anken.mitsumoriLink}}</td>
                <td nowrap>{{anken.wfNo}}</td>
                <td nowrap>{{anken.keiyakuKingaku}}</td>
                <td nowrap>{{anken.chumonTanka}}</td>
                <td nowrap>{{anken.chumonSuu}}</td>
                <td nowrap>{{anken.chumonGokei}}</td>
                <td >{{anken.chumonLink}}</td>
                <td nowrap>{{anken.nohinTanka}}</td>
                <td nowrap>{{anken.nohinSuu}}</td>
                <td nowrap>{{anken.nohinGokei}}</td>
                <td nowrap>{{anken.shiharaiTanka}}</td>
                <td nowrap>{{anken.konyuSuu}}</td>
                <td nowrap>{{anken.konyuGokei}}</td>
                <td >{{anken.seikyushoLink}}</td>
                <td nowrap>{{anken.keikaku_Jisseki}}</td>
                <td nowrap>{{anken.nohinKigen}}</td>
                <td nowrap>{{anken.kenshuKigen}}</td>
                <td nowrap>{{anken.shiharaiKigen}}</td>
                <td nowrap>{{anken.kurikaeshiKigen}}</td>
                <td >{{anken.ringishoLink}}</td>
                <td >{{anken.keiyakushoLink}}</td>
                <td nowrap>{{anken.konyuKaisha}}</td>
                <td nowrap>{{anken.dataKoshinbi}}</td>
                <td nowrap>{{anken.saishuKoshinsha}}</td>
                <td nowrap>{{anken.shainNo}}</td>
                <td nowrap>{{anken.tantosha}}</td>
                <td nowrap>{{anken.comment}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
</body>


{% endblock content %}