<div class="card bg-light mb-3" style="max-width:600pt;">
  <div class="card-header" ><div class="p-3 mb-2 bg-info text-white"><h3>現状の進捗</h3></div></div>
  <div class="card-body">
    <h5 class="card-title"></h5>
      <p class="card-text">
        <h6>
          {% for obj in q %}
            <div style="color: #3B3838"><li><bold><font size="5">選択中の案件番号：{{ obj.kanriNo }} &ensp;&ensp;枝番：{{ obj.edaban| default:"なし"  }}</bold></h6>
            <table class="table table">
              <thead style="font-size:16px; text-align: center;">
                <tr><th>ステータス</th><th>コード</th><th>経理承認</th><th>支払パターン</th><th>案件名</th></tr>
              </p></thead>
              {% if obj.keiriShonin == False %}
                <tbody style="font-size:16px; text-align: center;">
                  <tr><td>{{ obj.status }}</td><td>{{ obj.statusCode }}</td><td><font style="color:red;"><b>{{ obj.keiriShonin}}</b></font></td><td>{{ obj.shiharaiPattern }}</td><td>{{ obj.ankenMei }}</td><tr>
                </tbody>
              {% else %}
                <tbody style="font-size:16px; text-align: center;">
                  <tr><td>{{ obj.status }}</td><td>{{ obj.statusCode }}</td><td>{{ obj.keiriShonin}}</font></td><td>{{ obj.shiharaiPattern }}</td><td>{{ obj.ankenMei }}</td><tr>
                </font></tbody>
              {% endif %}
          {% endfor %}
        </font></table> 

        {% comment %} {% for obj in q %}
            {% if obj.keiriShonin == False %}
               <div style="color: #3B3838"><li><bold><font size="5">選択中の案件番号＝{{ obj.kanriNo }} 枝番＝{{ obj.edaban }}</bold></br><font size="3">（ステータス＝{{ obj.status }}、コード＝{{ obj.statusCode }}、<font style="color:red;"><b>経理承認＝{{ obj.keiriShonin}}</b></font>、支払パターン＝{{ obj.shiharaiPattern }}、案件名＝{{ obj.ankenMei }}）
               </font></font></li></div>
            {% else %}
               <div style="color: #3B3838"><li><bold><font size="5">選択中の案件番号＝{{ obj.kanriNo }} 枝番＝{{ obj.edaban }}</bold></br><font size="3">（ステータス＝{{ obj.status }}、コード＝{{ obj.statusCode }}、経理承認＝{{ obj.keiriShonin}}、支払パターン＝{{ obj.shiharaiPattern }}、案件名＝{{ obj.ankenMei }}）
               </font></font></li></div>
            {% endif %}
        {% endfor %} {% endcomment %}
        </h6>
      </p>
  </div>
</div>