{% extends 'base.html' %}

{% block title%}各種設定{% endblock %}

{% block content %}

<div class="card bg-light mb-3" style="width:600pt;height:200pt; margin-top: 10px; margin-left: 10px;">
  <div class="card-header"><div class="p-3 mb-2 bg-info text-white"><h3>各種設定</h3></div></div>
  <div class="card-body">
  <form action="/ankenkanri/variousSettings/" method="POST">{% csrf_token %}
    <h5 class="card-title">行いたい処理を選択します。</h5>
    <p class="card-text">いずれかをクリックしてください。</p>
    <nobr>
    <div style="text-align: center;"><button class="btn btn-primary" type="submit" name="changeSettings" style="width:120pt;height:35pt;margin: 5px 5px;"> 設定値変更</button>&nbsp;&nbsp; 
    <button class="btn btn-primary" type="submit" name="changePassword" style="width:120pt;height:35pt;margin: 5px 5px;"> パスワード変更</button>&nbsp;&nbsp; 
    <a href="https://github.com/hirocyansan/ankenkanri-proj" target="_blank" rel="noopener noreferrer" class="btn btn-primary" role="button" style="width:120pt;height:35pt;margin: 5px 5px;">バージョン情報など</a>
    {% comment %} <button class="btn btn-primary" type="submit" name="versionInfo" style="width:120pt;height:35pt;margin: 5px 5px;"> バージョン情報など</button>&nbsp;&nbsp;  {% endcomment %}
    <button class="btn btn-primary" type="submit" name="pageTop" style="width:120pt;height:35pt;margin: 5px 5px;"> TOPへ戻る</button>
    </div></nobr></form>
  </div>
</div>

{% endblock content %}